Repository SWM-REPL/api, pull requests merged in 2023-06, with the labels that each got.

#17 [feat] 로그인 API 만들기 closes #14
  src/main/java/com/repl/replnote/SpringConfig.java
  src/main/java/com/repl/replnote/user/controller/AuthController.java
  src/main/java/com/repl/replnote/user/service/AuthService.java
Labels: Login

#38 [feat] Room CRUD 기능 구현
  src/main/java/com/repl/replnote/config/SpringConfig.java
  src/main/java/com/repl/replnote/group/entity/RoomUser.java
  src/main/java/com/repl/replnote/room/controller/RoomController.java
  src/main/java/com/repl/replnote/room/entity/Room.java
  src/main/java/com/repl/replnote/room/entity/RoomUser.java
  src/main/java/com/repl/replnote/room/repository/SpringDataJpaRoomRepository.java
  src/main/java/com/repl/replnote/room/service/RoomService.java
  src/main/java/com/repl/replnote/todo/entity/Todo.java
Labels: Group

#44 feat: Todo CRUD 기능 구현
  src/main/java/com/repl/replnote/room/controller/RoomController.java
  src/main/java/com/repl/replnote/room/entity/Room.java
  src/main/java/com/repl/replnote/room/service/RoomService.java
  src/main/java/com/repl/replnote/todo/controller/TodoController.java
  src/main/java/com/repl/replnote/todo/entity/Todo.java
  src/main/java/com/repl/replnote/todo/entity/TodoId.java
  src/main/java/com/repl/replnote/todo/repository/SpringDataJpaTodoRepository.java
  src/main/java/com/repl/replnote/todo/service/TodoService.java
Labels: ToDo
